/* CSS BY PRIMA FOMBO */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126 License: none (public domain)*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
    font-family: Playfair Display, serif;
}

/* GLOBAL STYLES (mobile first/small) */
header {
    background-color: var(--midnight-blue);
    color: var(--soft-white);
    text-align: center;
}

header img {
    max-width: 150px;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem;
}

h2 {
    font-size: 2rem;
    padding: 1.5rem 0.5rem 1.5rem 0.5rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem;
    font-weight: bold;
    text-align: left;
}

p {
    font-size: 1rem;
    padding: 0.5rem;
    line-height: normal;
}

header p {
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 1rem;
}

nav ul {
    display: grid;
    background-color: var(--champagne-gold);
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.75rem;
    font-weight: bold;
    font-size: 1.5rem;
}

nav a {
    text-decoration: none;
    color: var(--dark-charcoal);
}

main {
    background-color: var(--linen);
    padding: 2rem;
}

hr {
    border-top: 1px solid;
    width: 100%;
    color: var(--champagne-gold);
}

.offerings ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

.offerings li#artisan, .offerings li#dining, .offerings li#basket {
    background-color: var(--olive-green);
    border-radius: 8px;
    color: var(--soft-white);
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#basket ul {
    list-style: disc;
    padding-left: 1.5rem;
}

figure {
    display: grid;
    border-radius: 8px;
    max-width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin: 1rem;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
}

figcaption {
    text-align: center;
    padding: 0.5rem;
    font-style: italic;
}

#gallery a {
    background-color: var(--olive-green);
    color: var(--soft-white);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    font-family: var(--font-family);
    cursor: pointer;
    margin: 0 1rem 0.5rem 1rem;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    text-align: center;
}

footer {
    background-color: var(--midnight-blue);
    color: var(--soft-white);
    text-align: center;
    padding: 1rem;
    white-space: pre-line;
    line-height: normal;
}

footer a {
    color: var(--champagne-gold);
    text-decoration: none;
    font-weight: bold;

}
/* MEDIA QUERY (medium) */
@media (min-width: 600px) {
    .offerings ul {
        display: grid;
        grid-template-areas:
        "artisan dining"
        "basket basket";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 1rem;
        padding: 1rem;
    }

    .offerings li#artisan {
        grid-area: artisan;
    }

    .offerings li#dining {
        grid-area: dining;
    }

    .offerings li#basket {
        grid-area: basket;
    }

    #basket ul {
        list-style: disc;
        width: 100%;
        display: block;
        padding: 1rem;
        line-height: normal;
    }


}
/* MEDIA QUERY (large) */
/* MEDIA QUERY (XL) */